table#board {
    background: #090;
    border: solid 2px #000;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}
table#board tr td {
    cursor:	default;
    width: 40px;
    height: 40px;
    border:solid 1px #fff;
    text-align: center;
    vertical-align: middle;
    color: transparent;
    font-size: 37px;
    line-height: 0px;
}
table#board tr td.legal:hover {
    cursor:	pointer;
    background: #050;
}
table#board tr td.black {
    color: #000;
}
table#board tr td.white {
    color: #fff;
}

button.back-menu {
    font-size: 15px;
    padding: 15px;
    margin: 30px;
}
