{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=360,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'othello2/menu.css' %}"/>
    <script type="text/javascript" src="{% static 'othello2/menu.js' %}">
    </script>
    <title>メニュー | オセロ2</title>
  </head>
  <body>
    <form action="{% url 'othello2:play'%}" method="post">
      {% csrf_token %}
      <p>
        <label>
          <input type="radio" name="color" id="black-turn" class="color-radio" value="black" checked>黒番で始める</button>
        </label>
      </p>
      <p>
        <label>
          <input type="radio" name="color" id="white-turn" class="color-radio" value="white">白番で始める</button>
        </label>
      </p>
      <p>
        <button>スタート</button>
      </p>
    </form>
  </body>
</html>
